* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #000;
  color: #fff;
  width: 100%;
  height: 100dvh;
}

.hide {
  display: none;
}

.screenFirst {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.screenFirst .screen {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenFirst .content {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #fff;
}

.screenFirst .content .logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.screenFirst .content .logo span {
  color: #ff0000;
  font-size: 2.3rem;
}

.screenFirst .content h4 {
  color: #ccc;
}

.screenFirst .content .sub-title2 {
  margin-bottom: 1.6rem;
}

.screenFirst .content .user {
  display: flex;
  flex-direction: column;
}

.screenFirst .content .user input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.screenFirst .content .user input::placeholder {
  color: #ffff;
}

.screenFirst .content .user .information {
  display: flex;
  gap: 0.5rem;
}

.screenFirst .content .user .information button {
  width: 100%;
  font-size: 0.85rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.screenFirst .content .user .information #btninstruction {
  background: #fff000;
  color: #000;
}

.screenFirst .content .user select {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.6rem;
  border: none;
  margin-bottom: 0.5rem;
}

.screenInstruction {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  backdrop-filter: blur(5px);
  height: 100dvh;
  padding: 5%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.screenInstruction .content {
  width: 90%;
  height: 90%;
  padding: 2rem;
  border: 5px solid #fff;
}

.screenInstruction button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ff0000;
  margin-bottom: 1rem;
  font-weight: 600;
  border: none;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.screenInstruction .list ol li {
  list-style: circle;
}

/* screen game */
.screenGame {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 600px;
  border: 5px solid #fff;
  height: 100dvh;
}

.title_user {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
}

.myHero {
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url("../images/myhero.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 50%;
  bottom: 20px;
}

.enemy {
  width: 70px;
  height: 50px;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bullets {
  position: absolute;
  bottom: 20px;
  left: -50px;
  margin-left: 15px;
  width: 2.5px;
  height: 15px;
  background: #0dc60d;
  background-size: contain;
  background-repeat: no-repeat;
}

/* screen pause */
#screenPause {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  backdrop-filter: blur(5px);
  height: 100dvh;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

#screenPause main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3% 0;
}

#screenPause main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #dd1a1a;
  width: 90%;
}

#screenPause main .content h1 {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

#screenPause main .content .detail {
  text-align: left;
  width: 50%;
}

#screenPause main .content .detail h5 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#screenPause main .content .btn-content {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

#screenPause main .content .btn-content button {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 0.4rem 0.8rem;
}
